.alko-image {
  animation: shake 1s ease-in-out infinite, blur 3s ease-in-out infinite;
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(var(--blur));
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes shake {
  25% {
    transform: translate(calc(-1 * var(--shake)), calc(-1 * var(--shake)));
  }
  50% {
    transform: translate(var(--shake), 0px);
  }
  75% {
    transform: translate(0px, calc(-1 * var(--shake)));
  }
  100% {
    transform: translate(0px, 0px);
  }
}
