.choose-taxi-page {
  padding-top: 55px;
  position: relative;
}

.choose-taxi-page__img {
  width: 100%;
  height: calc(100vh - 55px);
  z-index: -1;
}

.choose-taxi__info-button {
  z-index: 2;
  cursor: default;
  font-size: 60px;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}

.choose-taxi__go-button {
  z-index: 2;
  font-size: 80px;
  color: #fff;
  position: absolute;
}

.choose-taxi__go-button_252 {left: 550px;  top: 160px; }
.choose-taxi__go-button_291 {right: 680px; top: 120px; }
.choose-taxi__go-button_917 {left: 100px;  top: 520px; }
.choose-taxi__go-button_593 {left: 700px;  top: 450px; }
.choose-taxi__go-button_463 {right: 480px; top: 400px; }
.choose-taxi__go-button_062 {right: 200px;  top: 330px; }
