.choose-taxi-page {
  padding-top: 55px;
  position: relative;
}

.choose-taxi-page__img {
  width: 100%;
  height: calc(100vh - 55px);
  z-index: -1;
}

.choose-taxi__info-button {
  z-index: 2;
  cursor: default;
  font-size: 60px;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
}

.choose-taxi__go-button {
  font-size: 30px;
  color: #fff;
}

.choose-taxi__go-container {
  z-index: 2;
  position: absolute;
}

.choose-taxi__go-container_252 {left: 580px;  top: 180px; }
.choose-taxi__go-container_291 {right: 720px; top: 150px; }
.choose-taxi__go-container_917 {left: 100px;  top: 550px; }
.choose-taxi__go-container_593 {left: 700px;  top: 450px; }
.choose-taxi__go-container_463 {right: 520px; top: 400px; }
.choose-taxi__go-container_062 {right: 250px;  top: 350px; }
