.button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;

  &--neon {
    animation: flicker 1.5s infinite alternate;
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px var(--buttonColor),
            0 0 80px var(--buttonColor),
            0 0 90px var(--buttonColor),
            0 0 100px var(--buttonColor),
            0 0 150px var(--buttonColor);
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
