.game-over {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.game-over__text {
  font-size: 120px;
  margin-bottom: 20px;
  cursor: unset;
}

.game-over__reason {
  font-size: 30px;
  cursor: unset;
}

.game-over__go-start {
  font-size: 30px;
  margin-top: 100px;
}

.game-over__send-feedback {
  font-size: 15px;
  margin-top: 20px;
}