.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(9, 9, 121);
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 1) 18%,
    rgba(9, 15, 125, 1) 60%,
    rgba(2, 0, 36, 1) 86%,
    rgba(85, 1, 111, 1) 98%
  );
}

.layout__progress {
  position: absolute;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 10;
}

.layout__content {
}
