.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(6, 0, 97);
  background: radial-gradient(
    circle,
    rgb(29, 0, 54) 18%,
    rgb(0, 0, 54) 60%,
    rgb(0, 0, 0) 86%,
    rgba(85, 1, 111, 1) 98%
  );
  animation: light_shadow 10s infinite alternate;
}

.layout__progress {
  position: absolute;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 10;
}

.layout__content {
}
